@import "bulma/css/bulma.css";

.header {
  padding: 1rem 0 0;
}
.main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 1.5rem;
}

.card {
  width: 300px;
}
.card .content {
  padding: 0 0.75rem 0.75rem;
}
.card .content .subtitle.is-6 + .subtitle.is-6,
.card .content .subtitle.is-6 {
  margin-bottom: 4px;
}

.search-form {
  display: flex;
  gap: 1rem;
}
.search-form > fieldset.field {
  flex: 1;
}

.pagination {
  padding: 1rem 0;
}
